# Server
# App artifacts
server/_build
server/db
server/deps
server/*.ez

# Generate on crash by the VM
/server/erl_crash.dump

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
server/config/prod.secret.exsnode_modules


# Client
.DS_Store
client/js/bundle.js
client/js/bundle.min.js
client/build
client/npm-debug.log
